---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

{% include base_path %}

Simulating the Universe to answer unobservable questions about the evolution of galaxies captures my research interests most accurately. 
Be it developing models and analysis techniques to run and analyze cosmological simulations or testing specific phenomena using idealized 
simulations, I see computational astrophysics as a vital pathway for deepening our understanding of the Universe.

In my current research, I developed analysis methods and pipelines for conducting novel analyses on state-of-the-art cosmological simulations
.


{% for post in site.research %}
  {% include archive-single.html %}
{% endfor %}

