---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---
{% include base_path %}

<p><strong>Invited Talks:</strong></p>

<ul>
	<li><strong>Max Planck Institute for Astronomy</strong>,&nbsp;2023<br />
	<em>Cool and gusty, with a chance of rain: Dynamics of multiphase CGM around massive galaxies in the Romulus simulations</em></li>
	<li><strong>Center for Computational Astrophysics - Flatiron Institute</strong>, 2023<br />
	<em>Multiphase structure of CGM in Romulus simulations</em></li>
	<li><strong>University of Wrocław</strong>, 2022<br />
	<em>Dual AGNs: Detecting bright AGN pairs onto the path to binary black holes and black hole mergers</em></li>
	<li><strong>Institute of Computational Science, University of Zurich</strong>, 2022<br />
	<em>Dual AGNs: Detecting bright AGN pairs onto the path to binary black holes and black hole mergers</em></li>
</ul>

<p>&nbsp;</p>

<p><strong>Presentations:</strong></p>

<ul>
	<li><strong>Canadian Astronomical Society AGM</strong>, 2023<br />
	<em>Multiphase CGM around massive galaxies</em></li>
	<li><strong>44th Assembly of Committee on Space Research COSPAR</strong>, 2022<br />
	<em>Dual AGNs: Detecting bright AGN pairs onto the path to binary black holes and black hole mergers</em></li>
	<li><strong>International High-Performance Computing Summer School</strong>, 2022<br />
	<em>Studying galaxies&rsquo; circumgalactic medium by developing hyper refinement model using HPC</em></li>
	<li><strong>51st annual meeting of the Canadian Astronomical Society</strong>, 2021<br />
	<em>Dual AGNs: Detecting bright AGN pairs onto the path to binary black holes and black hole mergers</em></li>
	<li><strong>British Columbia&#39;s Cosmology Meeting</strong>, 2021<br />
	<em>Dual AGNs</em></li>
	<li><strong>Kavil Institute for Astronomy and Astrophysics Conference on Gas in Galaxies</strong>, 2021<br />
	<em>Resolving cold circumgalactic medium gas in Romulus simulations</em></li>
	<li><strong>50th annual meeting of the Canadian Astronomical Society</strong>, 2021<br />
	<em>Resolving cold circumgalactic medium gas in Romulus simulations</em></li>
	<li><strong>British Columbia&#39;s Cosmology Meeting</strong>, 2020<br />
	<em>The origin of the multiphase structure in the intracluster medium</em></li>
	<li><strong>Alzahra University Cosmology Forum</strong>, 2016<br />
	<em>Experimental tests of general relativity</em></li>
</ul>

<!-- {% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->
